<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.github.camisotro.nomnomquiz" versionCode="10" version="1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Nom Nom Quiz!</name>

    <description>
        How well do you know your nutrients?
    </description>

    <author href="http//github.com/camisotro" email="ctroster@gmail.com">
        Charles Troster
    </author>

    <allow-navigation href="https://*/*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android" />
</widget>
