<html>
<!-- https://www.frankmitchell.org/2015/01/fisher-yates/ for the shuffling algorithm -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="main.css" />
    <script src="dist/js/angular.min.js">
    </script>
    <script src="dist/js/angular-route.min.js">
    </script>
    <script src="dist/js/angular-animate.js"></script>
    <script src="dist/js/mobile-angular-ui.min.js">
    </script>
    <script>
        apiKey = 'wLT26LF3VUbLz6TXR8CjMEZxBto0v6KEfVvhOs09';
        URL = {
            search: 'http://api.nal.usda.gov/ndb/search'
            , list: 'http://api.nal.usda.gov/ndb/list'
            , nutrients: 'http://api.nal.usda.gov/ndb/nutrients'
            , report: 'http://api.nal.usda.gov/ndb/reports'
        };
        var theScope = {};
        var theLimit = 3;

        function shuffle(array) {
            var i = 0
                , j = 0
                , temp = null

            for (i = array.length - 1; i > 0; i -= 1) {
                j = Math.floor(Math.random() * (i + 1))
                temp = array[i]
                array[i] = array[j]
                array[j] = temp
            }
        }
        angular.module('myApp', ['mobile-angular-ui', 'ngAnimate']).controller("myCtrl", ['$q', '$scope', '$http', function ($q, $scope, $http, $timeout) {
            theScope = $scope;

            $scope.nutrients = {
                255: "water"
                , 208: "calories"
                , 203: "protein"
                , 204: "fat"
                , 205: "carbohydrates"
                , 291: "fiber"
                , 269: "sugar"
                , 307: "sodium"
                , 601: "cholesterol"
            };
            $scope.thing = 'hello';
            $scope.desired = function(aNutrients){
                return aNutrients.filter(function(nutrient){
                    return $scope.nutrients[nutrient.nutrient_id];
                });
            };
            //            $http({
            //                method : 'GET',
            //                url : URL.list,
            //                params : {
            //                    api_key : apiKey,
            //                    format : 'json',
            //                    lt : 'g'
            //                }
            //            }).then(function(response){
            //                $scope.groups = response.data.list;
            //            });

            var getFood = function () {
                // Create a deferred object for this set of requests
                var defer = $q.defer();
                // Add promise to the requests array immediately so our $q.all sees it
                $scope.requests.push(defer.promise);
                var foodOffset = Math.floor(Math.random() * ($scope.whole.total));
                var req = $http({
                    method: 'GET'
                    , url: URL.search
                    , params: {
                        api_key: apiKey
                        , format: 'json'
                        , max: 1
                        , offset: foodOffset
                    }
                });
                req.then(function (response) {
                    $scope.foods.push(response.data.list.item[0]);
                    var reqReport = $http({
                        method: 'GET'
                        , url: URL.report
                        , params: {
                            api_key: apiKey
                            , format: 'json'
                            , type: 'b'
                            , ndbno: response.data.list.item[0].ndbno
                        }
                    });
                    reqReport.then(function (response) {
                        $scope.reports[response.data.report.food.ndbno] = response.data.report.food;
                        defer.resolve();
                    });
                });
            };

            $http({
                method: 'GET'
                , url: URL.search
                , params: {
                    api_key: apiKey
                    , format: 'json'
                    , max: 1
                    , offset: 0
                }
            }).then(function (response) {
                $scope.whole = response.data.list;
                $scope.init();
            });
            $scope.init = function(){
                $scope.foods = [];
                $scope.reports = {};
                $scope.requests = [];
                $scope.byNutrient = {};
                $scope.theNutrient = null;
                for (i = 1; i <= theLimit; i++) {
                    getFood();
                }
                // run after all data is received
                $q.all($scope.requests).then(function (values) {
                    var oTemp = {};
                    // reorganize the data by nutrient
                    for (var key in $scope.reports) {
                        var report = $scope.reports[key];
                        var nuts = $scope.desired(report.nutrients);
                        for (var key in nuts) {
                            var nutrient = nuts[key];
                            oTemp[nutrient.nutrient_id] = oTemp[nutrient.nutrient_id] || {};
                            oTemp[nutrient.nutrient_id][report.ndbno] = nutrient;
                        }
                    }
                    // filter down to only nutrients that are in all results
                    for (var key in oTemp) {
                        if (Object.keys(oTemp[key]).length == theLimit)
                            $scope.byNutrient[key] = oTemp[key];
                    }
                    var nKeys = Object.keys($scope.byNutrient);
                    // pick a random nutrient!
                    $scope.theNutrient = nKeys[Math.floor(Math.random() * nKeys.length)];
                });
            };
        }]);
    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl" class="scrollable">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1><span class="label label-primary">Nom Nom Quiz!</span></h1>
                </div>
                <div class="col-xs-12">
                    <p>Number of food items: {{whole.total}}</p>
                    <p><button ng-click="init()">Restart</button></p>
                    <p ng-if="theNutrient">Let's quiz you on: {{nutrients[theNutrient]}}</p>
                </div>
                <ul>
                    <li ng-repeat="food in foods">{{food.ndbno}}: {{food.name}} ({{food.group}})
                        <ul ng-if="reports[food.ndbno]">
                            <li>{{nutrients[theNutrient]}}:
                                {{byNutrient[theNutrient][food.ndbno].value}} {{byNutrient[theNutrient][food.ndbno].unit}} per 100 g
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</body>

</html>
